html, body, nav, img, aside, p, i, div, input, main, h1, table, thead, tr, th, button{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: #000000;
    height: 13vh;
    width: 100vw;
}
nav > img{
    padding-top: 19px;
    padding-left: 3px;
    width: 46px;
}

aside{
    height: 10vh;
    padding: 19px;}
aside > p{
    color: #009efb;
}
aside > p > .icon{
    display: none;
}

.filtro{
    text-align: center;
}
.filtro > input{}

main{
    overflow-x: auto;
}
main > h1{
    display: none;
}
.table{
    margin-top: 50px;
    margin-left: 35px;
}
.table > thead{}
.table > thead > tr{}
.table > thead > tr > th{}
.table > tbody > tr > td{
    text-align: center;
}
.table > tbody > tr > td > img{
    width: 50px;
}
.table > tbody > tr > td > button{
    border-radius: 50%;
    background-color: #1e2325;
    color: #FFF;
    height: 23px;
    width: 21px;
}
.popUpClicado{
    background-color: #1e2325;
    width: 50%;
    height: 15vh;
    position: absolute;
    top: 50%;
    left: 25%;
    color: #FFF;
    display: none;
}

.abrirTS{
    position: absolute;
    left: 20%;
}

.btnFechar{
    position: absolute;
    top: 10%;
    right: 5%;
}

.popUpFiltro{
    /* display: none; */
}
.filtro{
    display: flex;
    flex-direction: column;
    width: 70vw;
    text-align: left;
    margin: 12px;
}
.filtro__nome{
    font-size: 12px;
    color: #1e2325
}
.filtro__nome__input{
    border: solid 1px lightgrey;
    width: 98%;
    border-radius: 4px;
    margin-bottom: 22px;
    height: 32px;
}
.filtro__cpfCnpj{
    font-size: 12px;
    color: #1e2325
}
.filtro__cpfCnpj__input{
    border: solid 1px lightgrey;
    width: 98%;
    border-radius: 4px;
    margin-bottom: 22px;
    height: 32px;
}
.filtro__status{
    font-size: 12px;
    color: #1e2325
}
.filtro__status__input{
    border: solid 1px lightgrey;
    width: 98%;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 22px;
    height: 32px;
}
.filtro__estado{
    font-size: 12px;
    color: #1e2325
}
.filtro__estado__input{
    border: solid 1px lightgrey;
    width: 98%;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 22px;
    height: 32px;
}

#btn__filtrar{
    background-color: #26c6da;
    border: solid 1px #26c6da;
    color: #FFF;
    cursor: pointer;
    border-radius: 8%;
    width: 26%;
    height: 30px;
    font-size: 13px;
}
#btn__reset{
    background-color: #2f3d4a;
    border: solid 1px #2f3d4a;
    color: #FFF;
    cursor: pointer;
    border-radius: 8%;
    width: 45%;
    height: 30px;
    font-size: 13px;
}